/* 마이페이지 */
/* 슬라이드 Virtual slides 사용 */

@import url('https://fonts.googleapis.com/css2?family=Candal&family=Inter:wght@400;700&display=swap');
.mypage {font-family: 'Inter', sans-serif;}
.mypage-profile {width: 100%; height: 250px; background-color: #6E95D0; display: flex; align-items: center;}
.mypage-profile-container {display: flex; flex-direction: column; align-items: center; margin: 240px 20px 0 60px; gap: 10px;}
.mypage-profile-img {width: 180px; height: 180px; border: 1px solid #DBDBDB; border-radius: 50%; background-color: #ffffff;}
.edit-profile-text {font-size: 14px; color: #949494; cursor: pointer; text-decoration: underline; font-family: 'Inter', sans-serif;}
.mypage-profile-info {display: inline-flex; align-items: center; gap: 10px; border: 1px solid #DBDBDB; border-radius: 7px; padding:5px 16px 5px 5PX; margin-top: 340px;}
.mypage-profile-badge {background-color: #081E5A; color: #ffffff; font-size: 16px; padding: 10px 10px; border-radius: 7px; font-family: 'Inter', sans-serif;}
.mypage-profile-name {font-size: 16px; color: #000000; font-family: 'Inter', sans-serif;}
.mypage-section {width: 100%; padding: 0 80px; box-sizing: border-box; position: relative;}
.mypage-section-title {font-size: 24px; margin-top: 180px; margin-bottom: 30px; font-family: 'Inter', sans-serif;}
.mypage-swiper {width: 100%; overflow: hidden;}
.mypage-swiper .swiper-wrapper {align-items: stretch;}
.mypage-swiper .swiper-slide {width: auto; display: flex; justify-content: center;}
.mypage-swiper .swiper-button-prev {left: 20px; color: #949494;}
.mypage-swiper .swiper-button-next {right: 20px; color: #949494;}
.mypage-card {width: 100%; max-width: 280px; height: auto; aspect-ratio: 2 / 3;position: relative; background-color: #e0e0e0; border-radius: 10px; overflow: hidden;}
.card-bottom-info {position: absolute; left: 15px; bottom: 15px; display: flex; align-items: center; gap: 6px; z-index: 10;}
.wish-icon {width: 32px; height: 32px; cursor: pointer;}
.card-text {font-size: 14px; color: #767676; font-family: 'Inter', sans-serif;}
.mypage-card2 {width: 100%; max-width: 280px; height: auto; aspect-ratio: 2 / 3; background-color: #ffffff; border-radius: 40px; overflow: hidden;}
.card2-thumb {width: 100%; height: 280px; background-color: #e0e0e0; position: relative;}
.card2-text-wrap {padding: 20px;}
.card2-title {font-family: 'Candal', sans-serif; font-size: 18px; margin-bottom: 8px;}
.card2-sub {font-family: 'Inter', sans-serif; font-size: 16px; color: #949494; margin-left: 5px;}
.card2-desc {font-size: 11px; color: #949494; line-height: 1.5; display: -webkit-box; overflow: hidden; font-family: 'Inter', sans-serif;}
.mypage-list {display: flex; flex-direction: column; gap: 20px; margin-top: 20px; padding-bottom: 100px;}
.mypage-list-item {display: flex; align-items: center; border-bottom: 1px solid #e0e0e0; padding: 20px 0; gap: 30px;}
.mypage-list-thumb {width: 240px; height: 140px; background-color: #e0e0e0;}
.mypage-list-info {flex: 1;}
.mypage-list-title {font-family: 'Candal', sans-serif; font-size: 24px; margin-bottom: 15px; color: #000;}
.mypage-sub-title {font-family: 'Inter', sans-serif; font-size: 16px; color: #949494; margin-left: 40px; font-weight: 400;}
.mypage-list-info ul {list-style: disc; padding-left: 20px;}
.mypage-list-info li {font-size: 14px; color: #666; line-height: 1.6; font-family: 'Inter', sans-serif;}
.mypage-list-side {display: flex; align-items: center; gap: 25px;}
.mypage-list-btn {width: 180px; height: 45px; background-color: #081E5A; color: #fff; border: none; border-radius: 6px; font-size: 14px; cursor: pointer; font-family: 'Inter', sans-serif;}
@media (max-width: 768px) {
  .mypage-card,
  .mypage-card2 {
    max-width: 240px;
  }
}

@media (max-width: 480px) {
  .mypage-card,
  .mypage-card2 {
    max-width: 200px;
  }
}
