########################################
# Global
########################################
# 시스템 파일
.DS_Store
Thumbs.db

# 환경 변수 파일
.env
.env.*


########################################
# Python / Flask
########################################
__pycache__/
*.pyc
*.pyo
*.pyd

# 가상환경
venv/
.venv/

# Flask-Migrate
migrations/

# SQLite DB
*.db
*.sqlite3

# Flask 앱 내 로컬 테스트 파일
instance/
*.log


########################################
# Node / React
########################################
# Node modules
node_modules/

# 빌드 파일
dist/
build/
out/

# React 환경변수
frontend/.env
frontend/.env.*


########################################
# IDE / Editor
########################################
.vscode/
.idea/
*.swp
*.swo


########################################
# OS / Temporary
########################################
*.tmp
*.temp
*.bak
*.cache
cache/
