@charset "utf-8";

.mypage-wrap {overflow-x: hidden; width: 100%;}
.mypage-wrap .mypage-inner {width: 100%; max-width: 1250px; margin: 0 auto;}

.profile-wrap {position: relative; width: 100%; height: 250px; background: #6E95D0;}
.profile-inner {display: flex; flex-direction: column; align-items: center; gap: 10px; position: absolute; bottom: -100px; left: 60px;}
.profile-wrap .img-wrap {width: 180px; border: 1px solid #dbdbdb; border-radius: 50%; background: #fff; aspect-ratio: 1 / 1;}
.edit-profile {font-size: 14px; color: #949494;}
.edit-profile:hover {text-decoration: underline; text-underline-position: under;}

.profile-wrap .text-wrap {display: flex; align-items: center; gap: 10px; position: absolute; bottom: -75px; left: 250px; padding: 5px 16px 5px 5px; border: 1px solid #dbdbdb; border-radius: 8px; background: #fff; white-space: nowrap;}
.profile-wrap .text-wrap .badge {padding: 8px 12px; border-radius: 5px; background: #081E5A; font-size: 16px; color: #fff;}
.profile-wrap .text-wrap .username {font-size: 16px;}

.mypage-section {margin: 200px 0 0;}
.mypage-section + .mypage-section {margin: 130px 0 0;}
.mypage-section-title {margin: 0 0 30px; font-weight: 600; font-size: 24px; line-height: 30px;}

.mypage-swiper-wrapper {position: relative;}
.mypage-swiper {position: static;}
.mypage-swiper-button {position: absolute; top: 50% !important; width: 40px; height: 40px; margin: 0 !important; color: #081E5A; transform: translateY(-50%) !important; z-index: 100;}
.wish-prev, .review-prev {left: -60px !important;}
.wish-next, .review-next {right: -60px !important;}

.mypage-card {display: inline-block; position: relative; overflow: hidden; border: 1px solid #ddd; border-radius: 18px; background: #e0e0e0; aspect-ratio: 46 / 67; box-sizing: border-box;}
.mypage-card .img-wrap {width: 100%; height: 100%;}
.mypage-card .img-wrap img {display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; object-fit: cover;}
.mypage-card-bottom-info {display: flex; align-items: center; gap: 10px; position: absolute; left: 0; bottom: 0; width: 100%; padding: 15px; border-top: none; background: #fff; box-sizing: border-box;}
.mypage-card-text {font-size: 16px; white-space: nowrap;}
.mypage-wish-icon {width: 25px; height: 25px; flex-shrink: 0;}
.mypage-wish-icon img {width: 100%; height: 100%; transition: transform .2s ease, opacity .2s ease;}

.mypage-card2 {display: inline-block; overflow: hidden; position: relative; border: 1px solid #ddd; border-radius: 18px; background: #fff; box-sizing: border-box;}
.mypage-card2-thumb {position: relative; aspect-ratio: 1 / 1; background: #e0e0e0;}
.mypage-card2-thumb .img-wrap {width: 100%; height: 100%;}
.mypage-card2-thumb .img-wrap img {width: 100%; height: 100%; object-fit: cover;}
.mypage-card2-title-en {display: inline-block; position: absolute; top: 15px; left: 15px; padding: 5px 15px; border-radius: 8px; background: #081E5A; font-family: 'Candal', sans-serif; font-size: 14px; line-height: 13px; color: #fff;}
.mypage-card2-wish-icon {position: absolute; top: 15px; right: 15px; z-index: 10; width: 22px; height: 22px;}
.mypage-card2-wish-icon img {width: 100%; height: 100%; transition: transform .2s ease, opacity .2s ease;}
.mypage-card2-text-wrap {padding: 15px;}
.mypage-card2-title {font-weight: 600; font-size: 16px; color: #333;}
.mypage-card2-desc {display: -webkit-box; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 3; margin: 10px 0 0; font-size: 14px; color: #949494; line-height: 18px;}

.mypage-list {display: flex; flex-direction: column; gap: 24px; padding-bottom: 100px;}
.mypage-list-item {display: flex; gap: 0 32px; align-items: center; padding: 24px 0; border-bottom: 1px solid #e0e0e0;}
.mypage-list-item:first-child {padding-top: 0;}
.mypage-list-thumb {width: 260px; flex-shrink: 0; aspect-ratio: 16 / 9; background: #e0e0e0;}
.mypage-list-info {flex: 1; min-width: 0;}
.mypage-info-header {display: flex; gap: 15px; align-items: baseline; margin-bottom: 20px; white-space: nowrap;}
.mypage-info-title-en {display: inline-block; font-family: 'Candal', sans-serif; font-size: 24px; transform: translateY(-2px);}
.mypage-info-title-ko {font-size: 16px; color: #949494;}
.mypage-info-details {margin: 0; padding: 0; list-style: none;}
.mypage-info-details li {overflow: hidden; margin-bottom: 6px; white-space: nowrap; text-overflow: ellipsis; font-size: 14px;}
.mypage-list-side {display: flex; align-items: center; gap: 20px; margin-left: auto; flex-shrink: 0;}
.mypage-list-btn {width: 180px; height: 45px; border: none; border-radius: 8px; background: #081E5A; color: #fff;}

@media (max-width: 1440px) {

    .mypage-swiper-wrapper {padding: 0 60px;}
    .wish-prev, .review-prev {left: 0 !important;}
    .wish-next, .review-next {right: 0 !important;}
}

@media (max-width: 1250px) {
    .profile-wrap {height: 200px;}
    .profile-inner {bottom: -90px; left: 50px;}
    .profile-wrap .img-wrap {width: 150px;}

    .profile-wrap .text-wrap {left: 210px; border-radius: 7px;}

    .mypage-section {margin: 180px 0 0; padding: 0 35px;}
    .mypage-section + .mypage-section {margin: 110px 0 0;}
    .mypage-section-title {margin: 0 0 25px; font-size: 22px; line-height: 28px;}

    .mypage-swiper-wrapper {padding: 0 50px;}
    .mypage-swiper-button {width: 35px; height: 35px;}

    .mypage-card {border-radius: 16px;}
    .mypage-card-bottom-info {gap: 8px;}
    .mypage-wish-icon {width: 23px; height: 23px;}

    .mypage-card2-title-en {border-radius: 7px; font-size: 13px; line-height: 12px;}
    .mypage-card2-wish-icon {width: 20px; height: 20px;}

    .mypage-list-item {padding: 22px 0;}
}

@media (max-width: 1024px) {
    .profile-wrap {height: 150px;}
    .profile-inner {bottom: -80px; left: 40px;}
    .profile-wrap .img-wrap {width: 120px;}
    
    .profile-wrap .text-wrap {bottom: -65px; left: 170px; border-radius: 6px;}
    .profile-wrap .text-wrap .badge {padding: 6px 10px; font-size: 14px;}
    .profile-wrap .text-wrap .username {font-size: 14px;}

    .mypage-section {margin: 130px 0 0; padding: 0 30px;}
    .mypage-section + .mypage-section {margin: 60px 0 0;}
    .mypage-section-title {margin: 0 0 20px; font-size: 20px; line-height: 26px;}

    .mypage-swiper-wrapper {padding: 0 40px;}
    .mypage-swiper-button {width: 30px; height: 30px;}

    .mypage-card {border-radius: 14px;}
    .mypage-wish-icon {width: 20px; height: 20px;}
    .mypage-card-bottom-info {gap: 6px; padding: 10px 15px;}
    .mypage-card-text {font-size: 14px;}

    .mypage-card2-title-en {left: 10px; padding: 5px 10px; border-radius: 6px; font-size: 12px; line-height: 11px;}
    .mypage-card2-wish-icon {right: 10px;}
    .mypage-card2-text-wrap {padding: 15px 10px;}
    .mypage-card2-title {font-size: 14px;}
    .mypage-card2-desc {-webkit-line-clamp: 2; font-size: 12px; line-height: 16px;}

    .mypage-list-item {padding: 20px 0;}
}

@media (max-width: 768px) {
    .profile-wrap {height: 100px;}
    .profile-inner {bottom: -65px; left: 20px;}
    .profile-wrap .img-wrap {width: 90px;}
    .profile-wrap .text-wrap {bottom: -130px;}
    
    .profile-wrap .text-wrap {bottom: -55px; left: 120px; border-radius: 5px;}
    .profile-wrap .text-wrap .badge {padding: 6px 8px;}

    .mypage-section {margin: 120px 0 0; padding: 0 15px;}
    .mypage-section + .mypage-section {margin: 50px 0 0;}
    .mypage-section-title {margin: 0 0 15px; font-size: 18px; line-height: 24px;}
    
    .mypage-swiper-wrapper {padding: 0 30px;}
    .mypage-swiper-button {width: 20px; height: 25px;}

    .mypage-card {border-radius: 12px;}
    .mypage-card-bottom-info {padding: 10px;}
    .mypage-wish-icon {width: 15px; height: 15px;}

    .mypage-card2-title-en {padding: 5px 8px; border-radius: 5px;}

    .mypage-list-item {flex-direction: column; align-items: flex-start; gap: 20px; padding: 18px 0;}
    .mypage-list-thumb {width: 100%;}
    .mypage-list-info {width: 100%;}
    .mypage-list-side {width: 100%; margin-left: 0; justify-content: center;}
    .mypage-list-btn {width: 200px;}
}

@media (max-width: 480px) {
    
}

.recommend .item {display: flex; align-items: center; gap: 40px; padding: 25px 40px; border-bottom: 1px solid #ddd;}
.recommend .item:nth-of-type(1) {padding-top: 0;}
.recommend .item .img-wrap img {width: 190px; height: 115px; flex-shrink: 0; object-fit: cover;}
.recommend .item .item-content {flex: 1; min-width: 0; text-align: left;}
.recommend .item .item-content .item-title {margin-top: -5px; margin-bottom: 15px; font-size: 20px; font-weight: bold; text-align: left;}
.recommend .item .item-content .item-details {font-size: 16px; color: #666; line-height: 1.4; text-align: left;}
.recommend .item .item-content .item-details p {display: flex; align-items: flex-start;}
.recommend .item .item-content .item-details p + p {margin: 5px 0 0;}
.recommend .item .item-content .item-details .tit { position: relative; padding: 0 0 0 15px; flex-shrink: 0;}
.recommend .item .item-content .item-details .tit:before {content: ''; display: inline-block; position: absolute; top: 50%; left: 0; width: 5px; height: 5px; background: #666; border-radius: 100%; transform: translateY(-50%);}
.recommend .item .item-actions {display: flex; align-items: center; gap: 12px; margin-left: auto; flex-shrink: 0;}
.recommend .item .item-actions .item-tag {font-size: 16px; color: #999; white-space: nowrap;}
.recommend .item .item-actions .detail-btn {padding: 10px 20px; background-color: #001f5c; color: #fff; border: none; border-radius: 5px; font-size: 14px; font-weight: bold; cursor: pointer; transition: background .3s; white-space: nowrap; flex-shrink: 0;}
.recommend .item .item-actions .detail-btn:hover {background-color: #003580;}
.recommend .pagination {display: flex; justify-content: center; align-items: center; gap: 15px; margin-top: 30px; padding-bottom: 15px;}
.recommend .pagination button {padding: 6px 10px; background: none; border: none; font-size: 18px; color: #999; cursor: pointer;}
.recommend .pagination button:hover {color: #333;}
.recommend .pagination .current {font-size: 15px; font-weight: bold; color: #333;}

@media (max-width: 1250px) {
    .recommend .item {gap: 35px; padding: 20px 35px;}
}

@media (max-width: 1024px) {
    .recommend .item {display: flex; flex-direction: column; align-items: flex-start; gap: 30px; padding: 15px 30px; text-align: left;}
    .recommend .item .img-wrap {width: 100%; height: 100%;}
    .recommend .item .img-wrap img {width: 100%; max-width: 100%; height: 250px;}
    .recommend .item .item-content .item-title {font-size: 18px;}
    .recommend .item .item-content .item-details {font-size: 16px;}
    .recommend .item .item-content .item-details p + p {margin: 4px 0 0;}
    .recommend .item .item-actions {justify-content: flex-end; width: 100%; margin-left: 0;}
    .recommend .item .item-actions .item-tag {font-size: 16px; margin-right: auto;}
    .recommend .item .item-actions .detail-btn {padding: 7px 16px; font-size: 14px;}
}

@media (max-width: 768px) {
    .recommend .item {gap: 25px; padding: 10px 0;}
    .recommend .item .img-wrap img {height: 200px;}
    .recommend .item .item-content {width: 100%; text-align: left;}
    .recommend .item .item-content .item-title {margin-top: -5px; font-size: 16px; text-align: left;}
    .recommend .item .item-content .item-details {font-size: 16px; text-align: left;}
    .recommend .item .item-content .item-details p + p {margin: 3px 0 0;}
    .recommend .item .item-actions {gap: 10px;}
    .recommend .item .item-actions .item-tag {margin-right: auto; font-size: 16px;}
    .recommend .item .item-actions .detail-btn {padding: 8px 20px; font-size: 14px; line-height: 16px;}
    .recommend .pagination button {font-size: 12px;}
    .recommend .pagination .current {font-size: 14px;}
}

@media (max-width: 480px) {
    .recommend .item {display: flex; flex-direction: column; align-items: flex-start; text-align: left; gap: 15px; padding: 18px 0;}
    .recommend .item .img-wrap img {width: 100%; max-width: 100%; height: 180px;}
    .recommend .item .item-content {width: 100%; text-align: left;}
    .recommend .item .item-content .item-details {font-size: 14px; text-align: left;}
    .recommend .item .item-actions {width: 100%; margin-left: 0; justify-content: flex-end; gap: 8px;}
    .recommend .item .item-actions .item-tag {margin-right: auto; font-size: 14px;}
    .recommend .item .item-actions .detail-btn {padding: 6px 12px; font-size: 12px;}
    .recommend .pagination {gap: 5px; margin-top: 12px;}
    .recommend .pagination button {padding: 3px 5px; font-size: 14px;}
    .recommend .pagination .current {font-size: 14px;}
}