/* 회원가입 페이지 */
.signup-wrap {}
.signup-wrap .signup-inner {display: flex; width: 100%; max-width: 1250px; margin: 0 auto;}
.signup-wrap .signup-inner .signup-item {display: flex; flex-direction: column; align-items: center; justify-content: center; width: 50%; padding: 50px 0; background-color: #fff;}

.signup-wrap .signup-inner .signup-item .profile {text-align: center;}
.signup-wrap .signup-inner .signup-item .profile .img-wrap {width: 90px; height: 90px; border-radius: 50%; border: 1px solid #949494; margin: 0 auto 10px; overflow: hidden;}
.signup-wrap .signup-inner .signup-item .profile .img-wrap img{width: 100%; height: 100%; object-fit: cover;}

.signup-wrap .signup-inner .signup-item .signup-form {width: 280px; margin: 30px 0 0;}
.signup-wrap .signup-inner .signup-item .signup-form .signup-input {width: 100%; height: 40px; margin: 12px 0 0; padding: 0 12px; border: 1px solid #949494; border-radius: 8px; font-size: 14px; color: #949494; box-sizing: border-box;}
.signup-wrap .signup-inner .signup-item .signup-form .signup-input:first-child {margin: 0;}
.signup-wrap .signup-inner .signup-item .signup-form .signup-submit-button {width: 100%; height: 48px; margin: 20px 0 0; background-color: #081E5A; border: none; border-radius: 8px; color: #fff; font-size: 14px;}

.signup-wrap .signup-inner .signup-item .text {margin: 30px 0 0; font-size: 12px; color: #949494; cursor: pointer;}
.signup-wrap .signup-inner .signup-item .text:hover {text-decoration: underline; text-underline-position: under;}

.signup-wrap .signup-inner .bg-wrap {width: 50%; background-image: url('/public/images/login/signup_bg.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;}

@media (max-width: 1440px) {
    
}
@media (max-width: 1250px) {
    .signup-wrap .signup-inner .signup-item .profile .img-wrap {width: 80px; height: 80px;}

    .signup-wrap .signup-inner .signup-item .signup-form {margin: 25px 0 0;}
    .signup-wrap .signup-inner .signup-item .signup-form .signup-input {height: 38px; margin: 12px 0 0; border-radius: 7px;}
    .signup-wrap .signup-inner .signup-item .signup-form .signup-submit-button {height: 42px; border-radius: 7px;}
    .signup-wrap .signup-inner .signup-item .text {margin: 25px 0 0;}
}
@media (max-width: 1024px) {
    .signup-wrap .signup-inner .signup-item .profile .img-wrap {width: 70px; height: 70px;}

    .signup-wrap .signup-inner .signup-item .signup-form {margin: 20px 0 0;}
    .signup-wrap .signup-inner .signup-item .signup-form .signup-input {height: 36px; margin: 10px 0 0; border-radius: 6px;}
    .signup-wrap .signup-inner .signup-item .signup-form .signup-submit-button {height: 40px; border-radius: 6px;}
    .signup-wrap .signup-inner .signup-item .text {margin: 20px 0 0;}
}
@media (max-width: 768px) {
    .signup-wrap .signup-inner {flex-direction: column; height: auto;}
    .signup-wrap .signup-inner .signup-item {width: 100%; padding: 40px 15px;}
    .signup-wrap .signup-inner .signup-item .signup-form {width: 100%; max-width: 320px;}
    .signup-wrap .signup-inner .signup-item .signup-form {margin: 15px 0 0;}
    .signup-wrap .signup-inner .signup-item .signup-form .signup-input {height: 34px; margin: 8px 0 0; border-radius: 5px; font-size: 12px;}
    .signup-wrap .signup-inner .signup-item .signup-form .signup-submit-button {margin: 15px 0 0; border-radius: 5px; font-size: 12px;}
    .signup-wrap .signup-inner .signup-item .text {margin: 15px 0 0;}

    .signup-wrap .signup-inner .bg-wrap {display: none;}
}
@media (max-width: 480px) {
    .signup-wrap .signup-inner .signup-item .text {margin: 10px 0 0;}
}