@charset "utf-8";

/* header */
header {position: sticky; top: 0; width: 100%; background-color: #fff; z-index: 99999;}
.header-wrap {}
.header-wrap .header-inner {display: flex; align-items: center; max-width: 1250px; margin: 0 auto; padding: 20px 0; box-sizing: border-box;}

.scrolling header {box-shadow: 0 0 20px rgba(0, 0, 0, .1); border-bottom: 1px solid #bbc7d3;}

.header-wrap .header-inner .logo-wrap {width: 95px;}
.header-wrap .header-inner .logo-wrap .logo {display: inline-block;}
.header-wrap .header-inner .logo-wrap .logo > img {display: inline-block; width: 100%;}

.header-wrap .header-inner .gnb-wrap {margin: 0 0 0 75px;} 
.header-wrap .header-inner .gnb-wrap .gnb-list {display: inline-flex; align-items: center;}
.header-wrap .header-inner .gnb-wrap .gnb-list .gnb {}
.header-wrap .header-inner .gnb-wrap .gnb-list .gnb:not(:first-child) {margin: 0 0 0 30px;}
.header-wrap .header-inner .gnb-wrap .gnb-list .gnb > a {font-size: 20px;}

.header-wrap .header-inner .header__util-wrap {margin: 0 0 0 auto;}
.header-wrap .header-inner .header__util-wrap .header__util-inner {display: inline-flex; align-items: center;}
.header-wrap .header-inner .header__util-wrap .header__util-inner > *:not(:first-child) {margin: 0 0 0 25px;}

.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util {}
.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.mypage img {width: 30px;}
.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.wishlist img {width: 29px;}
.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.search img {width: 28px;}

.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.menu {display: none;}


.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-hover {position: relative; padding-bottom: 13px; transform: translateY(7px);}
.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-list {overflow: hidden; position: absolute; top: 100%; left: 50%; width: 150px; max-height: 0; padding: 0 20px; border: 1px solid #ddd; border-radius: 7px; background-color: #fff; box-shadow: 0px 5px 12px rgba(0, 0, 0, .05); box-sizing: border-box; opacity: 0; transform: translateX(-50%); transition: max-height .25s ease, opacity .2s ease; pointer-events: none; text-align: center;}

.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-list li {padding: 10px 5px;}
.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-list li:first-child {padding: 15px 5px 10px;}
.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-list li:last-child {padding: 10px 5px 15px;}
.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-list li:not(:first-child) {border-top: 1px solid #ccc;}
.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-list li a {display: block;}

.header-wrap .header-inner .header__util-wrap .header__util-inner .search-area {position: relative; padding-bottom: 13px; transform: translateY(7px);}
.header-wrap .header-inner .header__util-wrap .header__util-inner .search-area .search__form-wrap {overflow: hidden; position: absolute; top: 100%; right: -15px; width: 300px; max-height: 0; padding: 10px 15px; border: 1px solid #ddd; border-radius: 5px; background-color: #fff; box-shadow: 0px 5px 12px rgba(0, 0, 0, .05); box-sizing: border-box; opacity: 0; transition: max-height .25s ease, opacity .2s ease; pointer-events: none;}
.header-wrap .header-inner .header__util-wrap .header__util-inner .search-area .search__form-wrap .search__form-inner {display: flex; align-items: center;}
.header-wrap .header-inner .header__util-wrap .header__util-inner .search-area .search__form-wrap .search__form-inner input {width: calc(100% - 36px); padding: 10px 5px 10px 10px; box-sizing: border-box;}
.header-wrap .header-inner .header__util-wrap .header__util-inner .search-area .search__form-wrap .search__form-inner button {padding: 10px 10px 10px 5px; font-size: 0;}
.header-wrap .header-inner .header__util-wrap .header__util-inner .search-area .search__form-wrap .search__form-inner img {width: 20px;}

.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-hover.mobile__menu {display: none;}
.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-hover.mobile__menu .header__util-list {left: auto; right: -15px ; transform: translateX(0);}

@media (hover: hover) and (pointer: fine) {
    /* PC에서만 hover 열림 */
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-hover:hover .header__util-list,
    .header-wrap .header-inner .header__util-wrap .header__util-inner .search-area:hover .search__form-wrap {max-height: 200px; opacity: 1; pointer-events: auto;}
}

.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-hover.is-open .header__util-list,
.header-wrap .header-inner .header__util-wrap .header__util-inner .search-area.is-open .search__form-wrap {max-height: 200px; opacity: 1; pointer-events: auto;} /* 모바일(hover 불가) + 클릭 열림 */

@media screen and (max-width: 1250px) {
    .header-wrap .header-inner {padding: 20px 35px;}

    .header-wrap .header-inner .logo-wrap {width: 90px;}
    
    .header-wrap .header-inner .gnb-wrap {margin: 0 0 0 70px;} 
    .header-wrap .header-inner .gnb-wrap .gnb-list .gnb:not(:first-child) {margin: 0 0 0 25px;}
    .header-wrap .header-inner .gnb-wrap .gnb-list .gnb > a {font-size: 18px;}

    .header-wrap .header-inner .header__util-wrap .header__util-inner > *:not(:first-child) {margin: 0 0 0 20px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.mypage img {width: 28px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.wishlist img {width: 27px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.search img {width: 26px;}
}

@media screen and (max-width: 1024px) {
    .header-wrap .header-inner {padding: 15px 30px;}

    .header-wrap .header-inner .logo-wrap {width: 85px;}

    .header-wrap .header-inner .gnb-wrap {margin: 0 0 0 65px;} 
    .header-wrap .header-inner .gnb-wrap .gnb-list .gnb:not(:first-child) {margin: 0 0 0 20px;}
    .header-wrap .header-inner .gnb-wrap .gnb-list .gnb > a {font-size: 16px;}
    
    .header-wrap .header-inner .header__util-wrap .header__util-inner > *:not(:first-child) {margin: 0 0 0 18px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.mypage img {width: 26px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.wishlist img {width: 25px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.search img {width: 24px;}

    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-list {width: 140px; padding: 0 15px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-list li {font-size: 16px;}

    .header-wrap .header-inner .header__util-wrap .header__util-inner .search-area .search__form-wrap {width: 250px; padding: 10px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .search-area .search__form-wrap .search__form-inner input {width: calc(100% - 10px); padding: 5px 0 5px 5px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .search-area .search__form-wrap .search__form-inner button {padding: 5px 5px 5px 0;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .search-area .search__form-wrap .search__form-inner img {width: 16px;}
}

@media screen and (max-width: 768px) {
    .header-wrap .header-inner {padding: 15px;}

    .header-wrap .header-inner .logo-wrap {width: 75px;}
    
    .header-wrap .header-inner .gnb-wrap {display: none;}
    
    .header-wrap .header-inner .header__util-wrap .header__util-inner > *:not(:first-child) {margin: 0 0 0 16px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.mypage img {width: 24px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.wishlist img {width: 23px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.search img {width: 22px;}

    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-list {width: 130px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-list li:first-child {padding: 10px 7px 5px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-list li {padding: 5px 7px; font-size: 14px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-list li:last-child {padding: 5px 7px 10px;}

    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-hover {padding: 0 0 8px 0; transform: translateY(4px);}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-hover.mobile__menu {display: inline-block;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.menu {display: inline-flex;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.menu img {width: 28px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-hover.mobile__menu .header__util-list {right: -5px; width: 130px; padding: 0 15px;}

    .header-wrap .header-inner .header__util-wrap .header__util-inner .search-area {padding: 0 0 8px 0; transform: translateY(4px);}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .search-area .search__form-wrap {width: 220px; padding: 5px 10px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .search-area .search__form-wrap .search__form-inner input {width: calc(100% - 10px); padding: 5px 0 5px 5px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .search-area .search__form-wrap .search__form-inner button {padding: 5px 5px 5px 0;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .search-area .search__form-wrap .search__form-inner img {width: 16px;}
}

@media screen and (max-width: 360px) {
    
}

/* footer */
footer {}
.footer-wrap {max-width: 1250px; width: 100%; margin: 0 auto; padding: 30px 50px 40px; background-color: #EDF0F5; box-sizing: border-box;}
.footer-wrap .footer-inner {text-align: center;}
.footer-wrap .footer-inner .footer-top {}
.footer-wrap .footer-inner .footer-top .title {font-family: "Candal", serif; font-weight: 400; font-style: normal; font-size: 15px; color: #081E5A; line-height: 17px;}
.footer-wrap .footer-inner .footer-top .text {margin: 15px 0 0; font-size: 14px; color: #081E5A; line-height: 20px;}
.footer-wrap .footer-inner .footer-bottom {margin: 20px 0 0; font-size: 12px; color: #081E5A; line-height: 20px;}
.footer-wrap .footer-inner .footer-bottom a:hover {text-decoration: underline; text-underline-position: under;}

@media screen and (max-width: 1250px) {
    .footer-wrap {padding: 25px 35px 35px;}
}

@media screen and (max-width: 1024px) {
    .footer-wrap {padding: 20px 30px 30px;}
    .footer-wrap .footer-inner .footer-top .title {font-size: 14px; line-height: 16px;}
    .footer-wrap .footer-inner .footer-top .text {margin: 13px 0 0; font-size: 13px; line-height: 18px;}
    .footer-wrap .footer-inner .footer-bottom {margin: 18px 0 0; line-height: 18px;}
}

@media screen and (max-width: 768px) {
    .footer-wrap {padding: 20px 15px 30px;}
    .footer-wrap .footer-inner .footer-top .text {margin: 12px 0 0;}
    .footer-wrap .footer-inner .footer-bottom {margin: 10px 0 0; font-size: 11px; line-height: 18px;}
    .footer-wrap .footer-inner .footer-bottom {margin: 15px 0 0; font-size: 10px; line-height: 16px;}
}

@media screen and (max-width: 360px) {
    
}

/* top button */
.top-btn {position: fixed; right: 50px; bottom: 40px; width: 40px; z-index: 999; opacity: 0; pointer-events: none; transition: opacity .3s ease;}
.top-btn.is-show {opacity: 1; pointer-events: auto;}
.top-btn img {width: 100%; height:100%;}

@media screen and (max-width: 1250px) {
    .top-btn{ right: 45px; bottom: 35px; width: 35px;}
}

@media screen and (max-width: 1024px) {
    .top-btn {right: 40px; bottom: 30px; width: 30px;}
}

@media only screen and (max-width:768px) {
    .top-btn {right: 25px; bottom: 25px;}
}

/* board - 리뷰, 나의 여행로그 */
.board-wrap {}
.board-wrap .board-inner {width: 100%; max-width: 1250px; margin: 0 auto; padding: 0 0 70px; box-sizing: border-box;}

.board-wrap .board-header {display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; max-width: 1250px; height: 290px; margin: 0 auto; background-position: center; background-size: cover; text-align: center; box-sizing: border-box;}
.board-wrap .board-header .title {margin-bottom: 40px; font-family: 'Candal'; font-size: 64px; font-weight: 500; color: #0b2a63;}

.board-wrap .board-header form {width: 380px;}
.board-wrap .board-header form .search-wrap {display: flex; overflow: hidden; border: 1px solid #0b2a63; border-radius: 7px; background: #fff;}
.board-wrap .board-header form .search-wrap input {flex: 1; min-width: 0; height: 40px; padding: 0 10px; font-size: 14px; box-sizing: border-box;}
.board-wrap .board-header form .search-wrap button {flex-shrink: 0; width: 60px; height: 40px; border: none; background: #0b2a63; font-size: 14px; color: #fff;}

.board-wrap .board__table-wrap {min-height: 400px; margin: 30px 0 0; box-sizing: border-box;}
.board-wrap .board__table {width: 100%; border-collapse: collapse; table-layout: fixed;}

.col-no {width: 7%;}
.col-title {width: auto;}
.col-nick {width: 8%;}
.col-date {width: 10%;}
.col-like {width: 7%;}

.board-wrap .board__table tr {border-bottom: 1px solid #ddd;}
.board-wrap .board__table th {padding: 18px 10px; background: #0b2a63; font-weight: 700; font-size: 16px; color: #fff; text-align: center; vertical-align: middle;}
.board-wrap .board__table td {padding: 18px 10px; font-size: 16px; text-align: center; vertical-align: middle;}
.board-wrap .board__table tbody tr:hover {background: #edf0f5;}

.board-wrap .board__table td.title {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: left;}
.board-wrap .board__table td.title a:hover {text-decoration: underline; text-underline-offset: under;}

.board-wrap .btn-wrap {display: flex; justify-content: flex-end; width: 100%; margin: 20px 0 0;}
.board-wrap .btn-wrap .btn-write {padding: 8px 16px; border-radius: 4px; background: #0b2a63; font-size: 14px; color: #fff;}

.board-wrap .pagination {display: flex; align-items: center; justify-content: center; width: 100%; margin-top: 50px;}
.board-wrap .pagination button {font-size: 16px; color: #555;}
.board-wrap .pagination button.number:hover,
.board-wrap .pagination button.number.active {font-weight: 600; color: #0b2a63; text-decoration: underline; text-underline-offset: under;}
.board-wrap .pagination button + button {margin: 0 0 0 20px;}
.board-wrap .pagination button.arrow + button.arrow {margin: 0 0 0 7px;}
.board-wrap .pagination button.arrow {width: 30px; height: 30px; border: 1px solid #ddd; border-radius: 100%; background: #EDF0F5; background-repeat: no-repeat; background-position: 53% 50%; box-sizing: border-box;}
.board-wrap .pagination button.arrow.first {background-image: url('/public/images/common/pagination_last.png'); background-size: 10px 9px; transform: rotate(-180deg);}
.board-wrap .pagination button.arrow.prev {background-image: url('/public/images/common/pagination_next.png'); background-size: 5px 9px; transform: rotate(-180deg);}
.board-wrap .pagination button.arrow.next {background-image: url('/public/images/common/pagination_next.png'); background-size: 5px 9px;}
.board-wrap .pagination button.arrow.last {background-image: url('/public/images/common/pagination_last.png'); background-size: 10px 9px;}
.board-wrap .pagination .active {font-weight: bold; color: #000;}

@media screen and (max-width: 1250px) {
    .board-wrap .board-inner {padding: 0 35px 30px;}

    .board-wrap .board-header {height: 250px; padding: 0 35px;}
    .board-wrap .board-header .title {margin: 0 0 35px; font-size: 60px;}
    .board-wrap .board-header form {max-width: 350px;}
    .board-wrap .board-header form .search-wrap input {height: 38px;}
    .board-wrap .board-header form .search-wrap button {width: 58px; height: 38px;}

    .board-wrap .board__table-wrap {min-height: 250px; margin: 25px 0 0;}
    .board-wrap .board__table th {padding: 16px 8px;}
    .board-wrap .board__table td {padding: 16px 8px;}

    .board-wrap .btn-wrap .btn-write {padding: 6px 14px;}

    .board-wrap .pagination button {font-size: 15px;}
    .board-wrap .pagination button.arrow {width: 28px; height: 28px;}
}

@media screen and (max-width: 1024px) {
    .board-wrap .board-inner {padding: 0 30px 45px;}

    .board-wrap .board-header {height: 200px; padding: 0 30px;}
    .board-wrap .board-header .title {margin: 0 0 30px; font-size: 55px;}
    .board-wrap .board-header form {width: 300px;}
    .board-wrap .board-header form .search-wrap input {height: 36px;}
    .board-wrap .board-header form .search-wrap button {width: 56px; height: 36px;}

    .board-wrap .board__table-wrap {min-height: 200px; margin: 20px 0 0;}

    .col-no {width: 8%;}
    .col-nick {width: 18%;}
    .col-date {width: 22%;}
    .col-like {width: 10%;}

    .board-wrap .board__table th {padding: 14px 6px;}
    .board-wrap .board__table td {padding: 14px 6px;}

    .board-wrap .btn-wrap .btn-write {padding: 6px 12px;}

    .board-wrap .pagination button {font-size: 14px;}
    .board-wrap .pagination button.arrow {width: 26px; height: 26px;}
}

@media screen and (max-width: 768px) {
    .mo-none {display: none;}

    .board-wrap .board-inner {padding: 0 15px 60px;}

    .board-wrap .board-header {height: 150px; padding: 0 15px;}
    .board-wrap .board-header .title {margin: 0 0 25px; font-size: 35px;}
    .board-wrap .board-header form .search-wrap input {height: 25px; font-size: 12px;}
    .board-wrap .board-header form .search-wrap button {width: 50px; height: 25px; font-size: 12px;}

    .board-wrap .board__table-wrap {min-height: 150px;}

    .board-wrap .board__table th {padding: 12px 6px; font-size: 12px;}
    .board-wrap .board__table td {padding: 12px 6px; font-size: 12px;}
    .board-wrap .board__table td.title {padding: 12px 10px;}
    
    .board-wrap .btn-wrap .btn-write {padding: 5px 10px; font-size: 12px;}

    .board-wrap .pagination button {font-size: 13px;}
    .board-wrap .pagination button.arrow {width: 24px; height: 24px;}
    .board-wrap .pagination button + button {margin: 0 0 0 15px;}
}

@media screen and (max-width: 480px) {
    .board-wrap .board-header .title {margin: 0 0 20px; font-size: 30px;}
    .board-wrap .board-header form {width: 200px;}

    .col-date {width: 25%;}
    .col-like {width: 16%;}

    .board-wrap .board__table th {padding: 10px 6px;}
    .board-wrap .board__table td {padding: 10px 6px;}
    .board-wrap .board__table td.title {padding: 10px;}

    .board-wrap .pagination button {font-size: 12px;}
    .board-wrap .pagination button.arrow {width: 22px; height: 22px;}
}