@charset "utf-8";

/* header */
.App {height: 1500px;}

header {position: sticky; top: 0; width: 100%; background-color: #fff;}
.header-wrap {}
.header-wrap .header-inner {display: flex; align-items: center; max-width: 1440px; margin: 0 auto; padding: 20px 50px;}

.scrolling header {box-shadow: 0 0 20px rgba(0, 0, 0, .1); border-bottom: 1px solid #bbc7d3; z-index: 10000;}

.header-wrap .header-inner .logo-wrap {width: 95px;}
.header-wrap .header-inner .logo-wrap .logo {display: inline-block;}
.header-wrap .header-inner .logo-wrap .logo > img {display: inline-block; width: 100%;}

.header-wrap .header-inner .gnb-wrap {margin: 0 0 0 75px;} 
.header-wrap .header-inner .gnb-wrap .gnb-list {display: inline-flex; align-items: center;}
.header-wrap .header-inner .gnb-wrap .gnb-list .gnb {}
.header-wrap .header-inner .gnb-wrap .gnb-list .gnb:not(:first-child) {margin: 0 0 0 30px;}
.header-wrap .header-inner .gnb-wrap .gnb-list .gnb > a {font-size: 20px;}

.header-wrap .header-inner .header__util-wrap {margin: 0 0 0 auto;}
.header-wrap .header-inner .header__util-wrap .header__util-inner {display: inline-flex; align-items: center; gap: 25px;}

.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util {display: inline-flex; align-items: center; justify-content: center;}
.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.mypage img {width: 30px;}
.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.wishlist img {width: 29px;}
.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.search img {width: 28px;}

.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-hover {position: relative;}
/* .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-hover:hover .header__util-list {display: block;} */

.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-list {overflow: hidden; position: absolute; left: 50%; width: 150px; max-height: 0; margin: 15px 0 0; padding: 0 20px; border: 1px solid #ddd; border-radius: 15px; background-color: #fff; box-shadow: 0px 5px 12px rgba(0, 0, 0, .05); box-sizing: border-box; opacity: 0; transform: translateX(-50%); transition: max-height .25s ease, opacity .2s ease;}

@media (hover: hover) and (pointer: fine) {
    /* PC에서만 hover 열림 */
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-hover:hover .header__util-list { max-height: 200px; opacity: 1;}
}

.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-hover.is-open .header__util-list {max-height: 200px; opacity: 1;} /* 모바일(hover 불가) + 클릭 열림 */

.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-list li {padding: 10px 5px;}
.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-list li:first-child {padding: 15px 5px 10px;}
.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-list li:last-child {padding: 10px 5px 15px;}
.header-wrap .header-inner .header__util-wrap .header__util-inner .header__util-list li:not(:first-child) {border-top: 1px solid #ccc;}

@media screen and (max-width: 1250px) {
    .header-wrap .header-inner {padding: 20px 35px;}

    .header-wrap .header-inner .logo-wrap {width: 90px;}
    
    .header-wrap .header-inner .gnb-wrap .gnb-list .gnb:not(:first-child) {margin: 0 0 0 25px;}
    .header-wrap .header-inner .gnb-wrap .gnb-list .gnb > a {font-size: 18px;}

    .header-wrap .header-inner .header__util-wrap .header__util-inner {gap: 20px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.mypage img {width: 28px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.wishlist img {width: 27px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.search img {width: 26px;}
}

@media screen and (max-width: 1024px) {
    .header-wrap .header-inner {padding: 15px 30px;}

    .header-wrap .header-inner .logo-wrap {width: 85px;}
    
    .header-wrap .header-inner .gnb-wrap .gnb-list .gnb:not(:first-child) {margin: 0 0 0 20px;}
    .header-wrap .header-inner .gnb-wrap .gnb-list .gnb > a {font-size: 16px;}
    
    .header-wrap .header-inner .header__util-wrap .header__util-inner {gap: 18px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.mypage img {width: 26px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.wishlist img {width: 25px;}
    .header-wrap .header-inner .header__util-wrap .header__util-inner .header__util.search img {width: 24px;}

}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 360px) {
    
}

/* footer */
footer {}
.footer-wrap {padding: 30px 50px 40px; background-color: #EDF0F5;}
.footer-wrap .footer-inner {text-align: center;}
.footer-wrap .footer-inner .footer-top {}
.footer-wrap .footer-inner .footer-top .title {font-family: "Candal", serif; font-weight: 400; font-style: normal; font-size: 15px; color: #081E5A; line-height: 17px;}
.footer-wrap .footer-inner .footer-top .text {margin: 15px 0 0; font-size: 14px; color: #081E5A; line-height: 20px;}
.footer-wrap .footer-inner .footer-bottom {margin: 20px 0 0; font-size: 12px; color: #081E5A; line-height: 20px;}
.footer-wrap .footer-inner .footer-bottom a:hover {text-decoration: underline; text-underline-position: under;}

@media screen and (max-width: 1250px) {
    .footer-wrap {padding: 25px 35px 35px;}
}

@media screen and (max-width: 1024px) {
    .footer-wrap {padding: 20px 30px 30px;}
    .footer-wrap .footer-inner .footer-top .title {font-size: 14px; line-height: 16px;}
    .footer-wrap .footer-inner .footer-top .text {margin: 13px 0 0; font-size: 13px; line-height: 18px;}
    .footer-wrap .footer-inner .footer-bottom {margin: 18px 0 0;  line-height: 18px;}
}

@media screen and (max-width: 768px) {
    .footer-wrap {padding: 20px 25px 30px;}
    .footer-wrap .footer-inner .footer-top .text {margin: 12px 0 0;}
    .footer-wrap .footer-inner .footer-bottom {margin: 10px 0 0; font-size: 11px;  line-height: 18px;}
    .footer-wrap .footer-inner .footer-bottom {margin: 15px 0 0; font-size: 10px;  line-height: 16px;}
}

@media screen and (max-width: 360px) {
    
}