@charset "utf-8";

.main-wrap {}
.main-wrap .main-inner {}

/* section 01 */
.main-wrap .main-inner .section01-wrap {max-width: 1250px; width: 100%; margin: 0 auto; background-image: url('/public/images/main/main_section_01_bg.png'); background-position: center; background-size: cover; aspect-ratio: 480 / 263; box-sizing: border-box;}
.main-wrap .main-inner .section01-wrap .section01-inner {display: flex; height: 100%;}
.main-wrap .main-inner .section01-wrap .section01-inner p {margin: auto 0 0; padding: 85px 130px; font-family: "Roboto Serif", serif; font-weight: 400; font-style: normal; font-size: 64px; color: #fff; line-height: 100px;}

@media screen and (max-width: 1440px) {
    .main-wrap .main-inner .section01-wrap .section01-inner p {padding: 75px 110px; font-size: 60px; line-height: 95px;}
}

@media screen and (max-width: 1250px) {
    .main-wrap .main-inner .section01-wrap .section01-inner p {padding: 65px 100px; font-size: 55px; line-height: 90px;}
}

@media screen and (max-width: 1024px) {
    .main-wrap .main-inner .section01-wrap .section01-inner p {padding: 55px 80px; font-size: 45px; line-height: 70px;}
}

@media only screen and (max-width:768px) {
    .main-wrap .main-inner .section01-wrap .section01-inner p {padding: 30px 35px; font-size: 30px; line-height: 46px;}
}

/* main content section common style */
.main-wrap .main-inner > div:not(.section01-wrap) {position: relative; max-width: 1250px; width: 100%; margin: 0 auto; padding: 70px 50px 200px; background-color: #F7F2EC; box-sizing: border-box; z-index: 1;}
.main-wrap .main-inner > div:not(.section01-wrap, .section02-wrap, .section05-wrap):after {content: ''; display: inline-block; position: absolute; top: -90px; left: 0; width: 100%; height: 185px; border-radius: 50%; background-color: #F7F2EC; z-index: -1;}
.main-wrap .main-inner > div .title-wrap {margin: 0 0 80px; text-align: center;}
.main-wrap .main-inner > div .title-wrap .title {font-size: 30px; font-weight: 500; line-height: 36px;}
.main-wrap .main-inner > div .title-wrap .sub-title {margin: 25px 0 0; font-family: "Roboto Serif", serif; font-weight: 400; font-style: normal; font-size: 20px; line-height: 26px;}
.main-wrap .main-inner > div .btn-more {display: block; width: 25px; margin: 0 0 0 auto;}
.main-wrap .main-inner > div .btn-more img {width: 100%;}
.main-wrap .main-inner > div .btn-more.type2 {display: flex; align-items: center; justify-content: center; width: 250px; height: 50px; margin: 40px auto 0; border: 1px solid #000; border-radius: 100px; font-size: 18px; color: #000;}

/* section 02 */
.main-wrap .main-inner > div.section02-wrap {padding: 120px 50px 200px; background-color: #F7F2EC;}
.main-wrap .main-inner .section02-wrap .section02-inner {}
.main-wrap .main-inner .section02-wrap .section02-inner .place-wrap {}
.main-wrap .main-inner .section02-wrap .section02-inner .place-wrap .place-inner {display: flex; align-items: center; justify-content: center;}
.main-wrap .main-inner .section02-wrap .section02-inner .place-wrap .place-inner .place-item {display: flex; align-items: center; justify-content: center; overflow: hidden; max-width: 300px; aspect-ratio: 300 / 433; border-radius: 40px;}
.main-wrap .main-inner .section02-wrap .section02-inner .place-wrap .place-inner .place-item:hover {box-shadow: 0 8px 20px rgba(0, 0, 0, .4);}
.main-wrap .main-inner .section02-wrap .section02-inner .place-wrap .place-inner .place-item + .place-item {margin: 0 0 0 25px;}
.main-wrap .main-inner .section02-wrap .section02-inner .place-wrap .place-inner .place-item img {width: 100%; height: 100%; object-fit: cover;}
.main-wrap .main-inner > div.section02-wrap .btn-more.type2 {border-color: #000; color: #000;}

/* section 03 */
.main-wrap .main-inner > div.section03-wrap {background-color: #EDF0F5;}
.main-wrap .main-inner > div.section03-wrap:after {background-color: #EDF0F5;}
.main-wrap .main-inner .section03-wrap .title-wrap .title {color: #081E5A;}
.main-wrap .main-inner .section03-wrap .title-wrap .sub-title {color: #081E5A;}
.main-wrap .main-inner > div.section03-wrap .btn-more.type2 {border-color: #081E5A; color: #081E5A;}
.main-wrap .main-inner .section03-wrap .section03-inner .activity-wrap {}
.main-wrap .main-inner .section03-wrap .section03-inner .activity-wrap .activity-inner {display: flex; flex-wrap: wrap; justify-content: center; gap : 30px 20px;}
.main-wrap .main-inner .section03-wrap .section03-inner .activity-wrap .activity-inner .activity-item {display: flex; align-items: baseline; justify-content: center; overflow: hidden; max-width: 300px; width: calc((100% - 80px) / 3); aspect-ratio: 95 / 78;}
.main-wrap .main-inner .section03-wrap .section03-inner .activity-wrap .activity-inner .activity-item:hover {box-shadow: 2px 8px 20px rgba(0, 0, 0, .4);}
.main-wrap .main-inner .section03-wrap .section03-inner .activity-wrap .activity-inner .activity-item img {width: 100%;}

/* section 04 */
.main-wrap .main-inner > div.section04-wrap {background-color: #6E95D0;}
.main-wrap .main-inner > div.section04-wrap:after {background-color: #6E95D0;}
.main-wrap .main-inner .section04-wrap .title-wrap .title {color: #fff;}
.main-wrap .main-inner .section04-wrap .title-wrap .sub-title {color: #fff;}
.main-wrap .main-inner > div.section04-wrap .btn-more.type2 {border-color: #fff; color: #fff;}
.main-wrap .main-inner .section04-wrap .festivals-wrap {}
.main-wrap .main-inner .section04-wrap .festivals-wrap .festivals-inner {position: relative; padding: 0 60px;}
.main-wrap .main-inner .section04-wrap .festivals-wrap .festivals-inner .festivals-item {}
.main-wrap .main-inner .section04-wrap .festivals-wrap .festivals-inner .festivals-item .festivals-link {}
.main-wrap .main-inner .section04-wrap .festivals-wrap .festivals-inner .festivals-item .festivals-link .img-wrap {display: flex; align-items: center; justify-content: center; overflow: hidden; border-radius: 30px; aspect-ratio: 46 / 67;}
.main-wrap .main-inner .section04-wrap .festivals-wrap .festivals-inner .festivals-item .festivals-link .img-wrap img {width: 100%; height: 100%; object-fit: cover;}
.main-wrap .main-inner .section04-wrap .festivals-wrap .festivals-inner .section04__navigation-wrap .btn-prev {position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 13px; height: 30px; background-image: url('/public/images/common/btn_slide_arrow_w.png'); background-repeat: no-repeat; background-size: 100%; background-position: center;}
.main-wrap .main-inner .section04-wrap .festivals-wrap .festivals-inner .section04__navigation-wrap .btn-next {position: absolute; top: 50%; right: 0; transform: translateY(-50%) rotate(-180deg); width: 13px; height: 30px; background-image: url('/public/images/common/btn_slide_arrow_w.png'); background-repeat: no-repeat; background-size: 100%; background-position: center;}

/* section 05 */
.main-wrap .main-inner > div.section05-wrap {padding: 120px 50px; background-color: #F7F2EC;}
.main-wrap .main-inner .section05-wrap .review-wrap {max-width: 950px; margin: 0 auto;}
.main-wrap .main-inner .section05-wrap .review-wrap .review-inner {display: flex; justify-content: space-between;}
.main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item {display: inline-flex; flex-direction: column; overflow: hidden; width: calc( (100% - 50px) / 3 ); border: 1px solid #949494; border-radius: 18px; box-sizing: border-box;}
.main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item:hover {box-shadow: 0 8px 20px rgba(0, 0, 0, .4);}
.main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item .img-wrap {display: flex; align-items: center; justify-content: center; overflow: hidden; aspect-ratio: 75 / 77;}
.main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item .img-wrap img {width: 100%; height: 100%; object-fit: cover;}
.main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item .text-wrap {flex: 1; padding: 20px 25px; border-top: none; background-color: #fff;}
.main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item .text-wrap .title {font-weight: 500; font-size: 18px; line-height: 24px; text-align: center;}
.main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item .text-wrap .text {display: -webkit-box; overflow: hidden; width: 100%; margin-top: 15px; font-size: 14px; line-height: 20px; text-overflow: ellipsis; word-wrap: break-word; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1250px) {
    .main-wrap .main-inner > div:not(.section01-wrap) {padding: 60px 35px 190px;}

    .main-wrap .main-inner > div .title-wrap {margin: 0 0 70px;}
    .main-wrap .main-inner > div .title-wrap .title {font-size: 28px; line-height: 34px;}
    .main-wrap .main-inner > div .title-wrap .sub-title {margin: 20px 0 0; font-size: 18px; line-height: 24px;}
    .main-wrap .main-inner > div .btn-more.type2 {width: 200px; height: 40px; margin: 35px auto 0; font-size: 16px;}

    .main-wrap .main-inner > div.section02-wrap {padding: 110px 35px 190px;}
    .main-wrap .main-inner .section02-wrap .section02-inner .place-wrap .place-inner .place-item + .place-item {margin: 0 0 0 20px;}

    .main-wrap .main-inner .section03-wrap .section03-inner .activity-wrap .activity-inner {gap : 25px 15px;}
    .main-wrap .main-inner .section03-wrap .section03-inner .activity-wrap .activity-inner .activity-item {width: calc((100% - 60px) / 3);}

    .main-wrap .main-inner .section04-wrap .festivals-wrap .festivals-inner .festivals-item .festivals-link .img-wrap {border-radius: 25px;}
    .main-wrap .main-inner .section04-wrap .festivals-wrap .festivals-inner .section04__navigation-wrap .btn-prev {left: 10px;}
    .main-wrap .main-inner .section04-wrap .festivals-wrap .festivals-inner .section04__navigation-wrap .btn-next {right: 10px;}

    .main-wrap .main-inner > div.section05-wrap {padding: 110px 35px;}
    .main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item {width: calc( (100% - 40px) / 3 ); border-radius: 16px;}
}

@media screen and (max-width: 1024px) {
    .main-wrap .main-inner > div:not(.section01-wrap) {padding: 50px 30px 180px;}

    .main-wrap .main-inner > div .title-wrap {margin: 0 0 60px;}
    .main-wrap .main-inner > div .title-wrap .title {font-size: 26px; line-height: 32px;}
    .main-wrap .main-inner > div .title-wrap .sub-title {margin: 15px 0 0; font-size: 16px; line-height: 22px;}
    .main-wrap .main-inner > div .btn-more.type2 {width: 150px; height: 30px; margin: 30px auto 0; font-size: 14px;}

    .main-wrap .main-inner > div.section02-wrap {padding: 100px 30px 180px;}
    .main-wrap .main-inner .section02-wrap .section02-inner .place-wrap .place-inner .place-item {max-width: 226px; aspect-ratio: 115 / 166; border-radius: 25px;}
    .main-wrap .main-inner .section02-wrap .section02-inner .place-wrap .place-inner .place-item + .place-item {margin: 0 0 0 15px;}

    .main-wrap .main-inner .section03-wrap .section03-inner .activity-wrap .activity-inner {gap : 20px 15px;}
    .main-wrap .main-inner .section03-wrap .section03-inner .activity-wrap .activity-inner .activity-item {width: calc((100% - 60px) / 3);}

    .main-wrap .main-inner .section04-wrap .festivals-wrap .festivals-inner {padding: 0 50px;}
    .main-wrap .main-inner .section04-wrap .festivals-wrap .festivals-inner .festivals-item .festivals-link .img-wrap {border-radius: 20px;}
    .main-wrap .main-inner .section04-wrap .festivals-wrap .festivals-inner .section04__navigation-wrap .btn-prev {left: 15px; width: 13px; height: 30px;}
    .main-wrap .main-inner .section04-wrap .festivals-wrap .festivals-inner .section04__navigation-wrap .btn-next {right: 15px; width: 13px; height: 30px;}

    .main-wrap .main-inner > div.section05-wrap {padding: 100px 30px;}
    .main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item {width: calc( (100% - 30px) / 3 ); border-radius: 14px;}
    .main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item .text-wrap {padding: 15px 20px;}
    .main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item .text-wrap .title {font-size: 16px; line-height: 22px;}
    .main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item .text-wrap .text {margin-top: 13px; font-size: 12px; line-height: 18px; -webkit-line-clamp: 2;}
}

@media only screen and (max-width:768px) {
    .main-wrap .main-inner > div:not(.section01-wrap) {padding: 40px 15px 90px;}
    .main-wrap .main-inner > div:not(.section01-wrap, .section02-wrap, .section05-wrap):after {top: -50px; height: 105px;}

    .main-wrap .main-inner > div .title-wrap {margin: 0 0 50px;}
    .main-wrap .main-inner > div .title-wrap .title {font-size: 18px; line-height: 24px;}
    .main-wrap .main-inner > div .title-wrap .sub-title {margin: 10px 0 0; font-size: 10px; line-height: 16px;}
    .main-wrap .main-inner > div .btn-more.type2 {width: 120px; height: 25px; margin: 25px auto 0; font-size: 12px;}

    .main-wrap .main-inner > div.section02-wrap {padding: 90px 15px 170px;}
    .main-wrap .main-inner .section02-wrap .section02-inner .place-wrap .place-inner .place-item {max-width: 144px; aspect-ratio: 25 / 36; border-radius: 15px;}
    .main-wrap .main-inner .section02-wrap .section02-inner .place-wrap .place-inner .place-item + .place-item {margin: 0 0 0 10px;}

    .main-wrap .main-inner .section04-wrap .festivals-wrap .festivals-inner {padding: 0 45px;}
    .main-wrap .main-inner .section04-wrap .festivals-wrap .festivals-inner .festivals-item .festivals-link .img-wrap {border-radius: 15px;}
    .main-wrap .main-inner .section04-wrap .festivals-wrap .festivals-inner .section04__navigation-wrap .btn-prev {left: 20px; width: 10px; height: 23px;}
    .main-wrap .main-inner .section04-wrap .festivals-wrap .festivals-inner .section04__navigation-wrap .btn-next {right: 20px; width: 10px; height: 23px;}

    .main-wrap .main-inner > div.section05-wrap {padding: 90px 15px;}
    .main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item {width: calc( (100% - 20px) / 3 ); border-radius: 12px;}
    .main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item .text-wrap {padding: 15px;}
    .main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item .text-wrap .title {font-size: 14px; line-height: 22px;}
    .main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item .text-wrap .text {margin-top: 10px; font-size: 10px; line-height: 16px;}
}

@media only screen and (max-width: 480px) {
    .main-wrap .main-inner > div:not(.section01-wrap) {padding: 30px 15px 90px;}
    .main-wrap .main-inner > div:nth-last-child(2):not(.section01-wrap) {padding: 30px 15px 50px;}

    .main-wrap .main-inner > div .title-wrap {margin: 0 0 30px;}
    .main-wrap .main-inner > div .title-wrap .title {font-size: 16px; line-height: 22px;}
    .main-wrap .main-inner > div .title-wrap .sub-title {font-size: 10px; line-height: 16px;}
    
    .main-wrap .main-inner > div.section02-wrap {padding: 50px 15px 100px;}
    .main-wrap .main-inner .section02-wrap .section02-inner .place-wrap .place-inner .place-item {max-width: 107px;}

    .main-wrap .main-inner > div.section05-wrap {padding: 50px 15px;}
    .main-wrap .main-inner .section05-wrap .review-wrap .review-inner {flex-direction: column; gap: 15px;}
    .main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item {width: 100%;}
    .main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item .img-wrap {aspect-ratio: 26 / 15;}
    .main-wrap .main-inner .section05-wrap .review-wrap .review-inner .review-item .text-wrap .text {margin-top: 5px;}

}

/* section 03 */

@media screen and (max-width: 1440px) {
    
}

@media screen and (max-width: 1250px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media only screen and (max-width:768px) {
    
}

/* section 04 */

@media screen and (max-width: 1440px) {
    
}

@media screen and (max-width: 1250px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media only screen and (max-width:768px) {
    
}

/* section 05 */

@media screen and (max-width: 1440px) {
    
}

@media screen and (max-width: 1250px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media only screen and (max-width:768px) {
    
}