@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
a {color: inherit; text-decoration: none;}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}
input {padding: 0; background: transparent; border: none;}
input[type="submit"] {cursor: pointer; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
select {
    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;
    border: none;
}
select::-ms-expand{
    display:none;/*for IE10,11*/
}
select:hover {
    cursor: pointer;
}
body {
    position: relative;
    line-height: 1;
}
button {padding: 0; border: none; background: none;}
button:hover {cursor: pointer;}

/* 
    Google Font Import

    font 사용 예시
    .div {font-family: "Candal", serif; font-weight: 400; font-style: normal;}

    .div2 {
        font-family: "Roboto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 100 ~ 900;
        font-style: normal;
        font-variation-settings:
            "wdth" 100,
            "GRAD" 0;
    }
    
    .div3 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100 ~ 900;
        font-style: normal;
    }
*/
@import url('https://fonts.googleapis.com/css2?family=Candal&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body * {font-family: "Inter", sans-serif; font-optical-sizing: auto; font-weight: 400; font-style: normal;}

/* custom - ryu */
#skipNavi{position: absolute; margin: 0 auto; width: 998px; list-style: none; font-size: 1.15em; top: -10.5em; left: 0; z-index:1005; background:#eee; border:1px solid #ccc}
#skipNavi a:active, #skipNavi a:focus{position: absolute; padding-top: 0.5em; width: 998px; height: 2em; top: 10.5em; text-align: center; color: #000; font-weight:bold; background: #eee; border: 1px solid #ccc; outline: 0}

.blind, caption{position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden;}
.clearfix:after{content:""; display:block; clear:both}

.display_pc {display: block !important;}
.display_pc_tab {display: block !important;}
.display_tab {display: none !important;}
.display_tab_mo {display: none !important;}
.display_mo {display: none !important;}
colgroup.display_pc {display: table-column-group !important;}
table.display_pc {display: table !important;}
thead.display_pc {display: table-header-group !important;}
colgroup.display_pc {display: table-column-group !important;}
colgroup.display_pc_tab {display: table-column-group !important;}

@media only screen and (max-width:1024px) {
    .display_pc {display: none !important;}
    .display_tab {display: block !important;}
    .display_tab_mo {display: block !important;}
    colgroup.display_tab_mo {display: table-column-group !important;}
    table.display_tab_mo {display: table !important;}
    thead.display_tab_mo {display: table-header-group !important;}
    colgroup.display_pc {display: none !important;}
    colgroup.display_pc_tab {display: none !important;}
    colgroup.display_tab {display: table-column-group !important;}
    colgroup.display_tab_mo {display: table-column-group !important;}

    .display_tab,colgroup.display_pc,table.display_pc,thead.display_pc {display: none !important;}
}
@media only screen and (max-width:768px) {
    .display_pc_tab {display: none !important;}
    .display_mo {display: block !important;}
    colgroup.display_mo {display: table-column-group !important;}
}